body {
	margin: 0px;
	background-color: #640B0F;
   	font-family : Arial, sans-serif;
}

div#main {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px; 
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;

}

div#content {
	padding-left: 20px;
	padding-right: 20px;
	clear:both;
}

div#header {
	position: relative;
	width:700px;
	margin-left: auto;
	margin-right: auto;
}

div#header-logo {
	width:455px;
	margin-left: auto;
	margin-right: auto;
}

div#footer {
	height: 20px;
	font-size: 0.7em;
	text-align: center;
}

div.line-breaker {
	clear: both;
	width: 100%;
	border-top: dotted 1px #ccc;
}

ul.messages {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	list-style-type: none;
	padding: 0px;
	font-size: 0.7em;
}
ul.messages li {
	padding: 5px 0px 5px 40px;
	width: 95%;
	border-width: 1px;
       	border-style: solid;
	-moz-border-radius: 3px;
        -webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: 10px center;
	margin-bottom: 5px;
}

.warning {
	border-color: #FFC140;
	background-color: #FFE1A4;
	background-image: url('../imgs/warning.png');
}

.success {
	border-color: #99C600;
	background-color: #ECFFAA;
	background-image: url('../imgs/success.png');
}

.error {
	border-color: #EB5339;
	background-color: #F8CBC2;
	background-image: url('../imgs/error.png');
}

/* ANUIDADE */

div#anuidade {
	width: 500px;
}
div#anuidade ul {
	font-size: 0.9em;
	list-style: square;
}

div#anuidade ul li {
	margin: 10px;
}

/* MENU by Igor on 2011-07-26 */

div#menu {
	float: left;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
div#menu ul {
	list-style: none;
	margin: 0;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

div#menu ul li {
	display: inline;
	float: left;
}

div#menu ul li#logout {
	float: right;
}

div#menu ul li a {
	padding: 6px 25px;
    	/* visual do link */
    	color: #555;
	font: 17px ArialNueva, arial, verdana, tahoma, helvetica, sans-serif;
    	text-decoration: none;
	font-weight:normal;
	float: left;
	border: 1px solid #fff;
}

div#menu ul li a:hover {
	color: #963E3F;
	border: 1px solid #640B0F;
}


/* COORDENADORIAS */

div#coordenadorias {
	width: 600px;
}
div#coordenadorias ul {
	font-size: 0.9em;
	list-style: square;
}

div#coordenadorias ul li {
	margin: 10px;
}
div#coordenadorias .missao {
	font-weight: bold;
}

#coordenadorias_lightbox {
	font-size: 0.8em;
}
