div.form 
{
	width:550px;
   	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

div.form fieldset
{
   padding:15px;
   border:1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;   
}

div.form legend, div.form h2
{
   font-family : Arial, sans-serif;
   font-size: 1.3em;
   font-weight:bold;
   color:#333;
}

div.form legend, div.form h3
{
   font-family : Arial, sans-serif;
   font-size: 1.0em;
   font-weight:bold;
   color:#333;
}


div.form label
{
   font-family : Arial, sans-serif;
   font-size:0.8em;
   font-weight: bold;
}

div.form select {
	height: 25px;
}
div.form input[type="text"],div.form textarea,
div.form input[type="password"]
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000; 
  padding : 3px; 
  border : 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}

div.form input[type="text"],
div.form input[type="password"]
{
  height:18px;
  width:230px;
}

div.form input[type="submit"]
{
   width:100px;
   height:30px;
   margin-top: 10px;
   padding-left:0px;
   margin-right: 6px;
}

div.form textarea
{
  height:120px;
  width:310px;
}

div.form input[type="text"]:focus,
div.form textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

div.form .container
{
   margin-top:8px;
   margin-bottom: 10px;
}

div.form .form_error, div.form .erro ul.errorlist li, div.form ul.errorlist li
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

div.form #register_password_errorloc
{
    clear:both;
}

div.form  fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

div.form fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

div.explanation p
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   color:#222;   
}

div.form .short_explanation
{
   font-family : Arial, sans-serif;
   font-size: 0.6em;
   color:#333;   
}

div.form #fg_crdiv
{
   font-family : Arial, sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
div.form  #fg_crdiv p
{
    display:none;
}

div.form_content li
{
font-family : Arial, sans-serif;
padding-top:10px;
padding-bottom:10px;
}
div.form_content
{
    font-family : Arial, sans-serif;
    font-size: 0.9em;
    line-height: 150%
}

div.form_content h2
{
   font-family : Arial, sans-serif;
   font-size: 1.5em;
   font-weight:bold;
   color:#333;
}

div#survey_form ul  {
	list-style: none;
	padding-left: 0px;
}


div#survey_form ul li {
	padding-left: 10px;
	border-bottom: dotted 1px #ccc;
	padding-bottom: 15px;
	padding-top: 15px;
}
div#survey_form ul li label {
	display: block;
	margin-bottom: 5px;
}
div#survey_form ul li ul li label {
	font-weight: normal;
	font-size: 0.7em;
	margin-bottom: 0px;
	padding-top: 0px;
}	
div#survey_form ul li ul li {
	border-bottom: none;
	padding-bottom: 0px;
	padding-top: 0px;
}

.sexo ul {
	list-style: none;
	padding: 0px;
	margin: 5px;
}
.sexo li {
	display: inline;
}
.sexo br {
	display: none;
