{% extends 'base.html' %}

{% block content %}
<div class="explanation">
	<p>Obrigado por ter completado sua inscrição. Assim que o pagamento da anuidade for confirmado você receberá um e-mail confirmando seu cadastro e mais informações sobre como participar das atividades do grupo.</p>
	<p>Além da anuidade, você também pode colaborar com o fortalecimento da Ciclocidade doando idéias, tempo como voluntário ou dinheiro. Sugestões e projetos podem ser discutidos no fórum do grupo, ao qual você terá acesso assim que receber a confirmação. Mais informações sobre como atuar como voluntário também serão enviadas por correio eletrônico.</p>
	<p>Contribuições financeiras podem ser feitas por pessoas físicas ou jurídicas diretamente na conta da associação, cujos dados estão abaixo. Até quem não é associado pode ajudar; se você souber de alguém ou alguma empresa que possa se interessar em colaborar, pedimos a gentileza de que encaminhe essa ideia.</p>
</div>
{% endblock %}
