{% extends 'base.html' %}

{% block content %}

<ul id="pay">
<li>A Ciclocidade acredita no apoio e na participação de seus associados para cumprir sua missão de transformar São Paulo em um ambiente adequado e seguro ao ciclista.</li>
<li>Nossa entidade não tem fins lucrativos, mas a sua contribuição nos ajuda a manter o custo mínimo de funcionamento.</li>
<li>Seguindo resoluções <a target="_blank" href="http://www.ciclocidade.org.br/quem-somos/estatuto">estatutárias</a> e deliberações da Diretoria, a partir de maio de 2012, a Ciclocidade passará a contar com uma contribuição associativa paga anualmente por seus associados e de maneira proporcional aos meses restantes até a data de renovação.</li>
<li>A renovação acontece no mês de agosto, quando é cobrado o valor integral de R$ 60.</li>
<li>Caso você esteja se associando nos demais meses do ano, o valor cobrado será proporcionalmente menor. Por exemplo: ao se associar no mês de maio, o pagamento será de R$ 15; no mês de junho, o valor será de R$10 e assim por diante. </li>
<li>O pagamento pode ser feito através de boleto bancário, cartão de crédito, débito em conta ou outras formas disponíveis no serviço PagSeguro.</li>
<li>Em até 48 horas você receberá um e-mail de boas-vindas da Ciclocidade, confirmando a o seu pedido de associação.</li>
<li>Você também poderá doar doar outros valores além da sua contribuição associativa. Para isso, preencha o campo “doações adicionais” antes de completar o seu pedido.</li>
</ul>

{% if show_form %}
<form action="." method="post" name="payment">
	{% csrf_token %}
	<div class="form" style="margin-left: 18px;">
	<label for="donation">Doações adicionais (digite o valor em reais): </label><input id="donation" type="text" name="donation" value="0,00" style="width: 80px;" />

	</div>
	<input style="margin-left: 20px;" type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/205x30-pagar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</form>
{% endif %}
{% if paids %}
<h2>Anuidades pagas:</h2>

<ul>
{% for paid in paids %}
<li>{{ paid }}</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
