{% extends 'base.html' %}

{% block content %}
<ul>
<li>A Ciclocidade acredita no apoio e na participação de seus associados para cumprir sua missão de defender o ciclista e promover o uso de bicicletas em São Paulo.</li>
<li>Nossa entidade não tem fins lucrativos, mas temos um custo de funcionamento e estrutura para as atividades.</li>
<li>Seguindo resoluções <a target="_blank" href="http://www.ciclocidade.org.br/quem-somos/estatuto">estatutárias</a> e deliberações da Diretoria, a partir de agosto de 2011 a Ciclocidade passará a contar com a anuidade paga por seus associados.</li>
<li>A contribuição dos sócios é de R$ 60,00 por ano, podendo ser paga através de boleto bancário, cartões de crédito, débito em conta ou outras formas disponíveis no serviço PagSeguro..</li>
<li>A cobrança da anuidade acontecerá sempre no mês de agosto de cada ano, em valor integral.</li>
</ul>

<form action="." method="post" name="payment">
	{% csrf_token %}
	<input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/205x30-pagar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
</form>
{% endblock %}
