{% extends 'base.html' %}

{% block content %}
{% if form %}
<div id="survey_form" class="form">
<form id="survey" action="" method="post" accept-charset="UTF-8">
{% csrf_token %}
<fieldset id="main_fieldset">
	<legend>Hábitos e Interesses</legend>
	<p class="short_explanation">As perguntas a seguir dizem respeito aos seus hábitos e interesses. É necessário responder todos os itens. Suas respostas nos ajudarão a planejar e direcionar as ações da Ciclocidade. </p>
	<ul>
		{{ form.as_ul }}
	<li><a id="coordenadorias_lightbox" href="#coordenadorias">Ementa de funcionamento e metas das Coordenadorias</a></li>
	<li><p class="short_explanation">Ao enviar as respostas você confirma a veracidade das informações acima e solicita à Diretoria o pedido de associação à Ciclocidade - Associação dos Ciclistas Urbanos de São Paulo, comprometendo-se a respeitar as disposições <a target="_blank" href="http://www.ciclocidade.org.br/quem-somos/estatuto">estatutárias</a>, das quais tem pleno conhecimento.</p>
	</li>
	</ul>

<div style="display:none">
<div id="coordenadorias">
<ul>
<li><span>As coordenadorias são áreas institucionais de participação e desenvolvimento de ações e projetos. A Ciclocidade está organizada em sete coordenadorias. Qualquer associado pode participar de uma ou mais coordenadorias.</span></li>
<li><span class="missao">Missão da Coordenadoria de Cultura da Bicicleta e Formação do Ciclista:</span><br />
	Desenvolvimento e realização de atividades, ações e eventos que propaguem a cultura da bicicleta e auxiliem na formação do ciclista urbano.</li>
<li><span class="missao">Missão da Coordenadoria de Participação Pública:</span><br />
	Relações com organizações da sociedade civil e com o poder público. Participação em fóruns, espaços e grupos relacionados à mobilidade urbana. </li>
<li><span class="missao">Missão da Coordenadoria de Associados e Voluntários: </span><br />
	Gestão dos vínculos entre associados e a Ciclocidade. Coordenação e desenvolvimento de espaços de participação dos voluntários.</li>
<li><span class="missao">Missão da Coordenadoria de Comunicação: </span><br />
	Divulgação institucional, produção de conteúdo, alimentação dos canais de comunicação e atendimento ao público.</li>
<li><span class="missao">Missão da Coordenadoria de Tecnologia: </span><br />
	Manutenção e desenvolvimento da infraestrutura tecnológica. Suporte e treinamento para a utilização das ferramentas digitais.</li>
<li><span class="missao">Missão da Coordenadoria de Pesquisa:</span><br />
	Levantamento, produção e difusão de informações e dados úteis para a melhoria das condições de mobilidade urbana em São Paulo.</li>
<li><span class="missao">Missão da Coordenadoria de Desenvolvimento Institucional:</span><br />
Gestão dos processos administrativos, financeiros e jurídicos da associação.</li>
<li><span>Caso esteja em dúvida, não se preocupe, você irá receber mais informações por email em até 48h depois de confirmar a sua associação e poderá solicitar a sua participação em uma coordenadoria a qualquer momento</span></li>
</ul>
</div>
</div>
<script type="text/javascript">
$("a#coordenadorias_lightbox").fancybox({
		'hideOnContentClick': true,
		'showCloseButton': true,
		'title': "Coordenadorias",
		'titleShow': true,
		'showCloseButton': true
		});

var f = function (id) { 
	var ul = $(id).parent().parent().parent();
	$(id).click(function (){
		if ($(this).attr('checked')) {
			$('input:not(' + id + ')', ul).attr('checked', false);
		}
	});

	$('input:not(' + id + ')', ul).click(function () {
		if ($(this).attr('checked')) {
			$(id).attr('checked', false);
		};
	});
};

f('#id_volunteering_9');
f('#id_bike_usage_6');
</script>

<div style="float: right;">
    <label for="submit" ></label><br/>
    <input type="submit" value="Salvar" />
</div>
</fieldset>
</form>
{% else %}
<center><h2>Você ja respondeu todas as pesquisas.</h2></center>
{% endif %}
{% endblock %}
