<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ciclocidade: Cadastro de Associados</title>
    <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cadastro.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blitzer/jquery-ui-1.8.14.custom.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/fancybox/jquery.fancybox-1.3.4.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.datepicker-pt-BR.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.maskedinput-1.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fancybox/jquery.fancybox-1.3.4.js"></script>
    <title>{% block title %}Andy - Sistema de cadastro de associdados da Ciclocidade{% endblock %}</title>
    </head>

<body>

</head>
<body>
<div id="main">
    <div id="header">
	    	<div id="header-logo">
			<a href="{% url index %}"><img src="{{ STATIC_URL }}imgs/logo.png" /></a>
		</div>
    </div>
    {% if user.is_authenticated %}
    <div id="menu">
      <ul>
       <li><a href="{% url cadastro_profile %}" title="Editar seu perfil de associado">Perfil</a></li>
       <li><a href="{% url cadastro_survey %}" title="Preencher pesquisa de hábitos e interesses">Pesquisa</a></li>
       <li><a href="{% url cadastr_pay %}">Anuidades</a></li>
       <li id="logout"><a href="{% url logout %}">Sair</a></li>
      </ul>
    </div>
    {% endif %}
    {% if messages %}
    <ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
    </ul>
    {% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
	Dúvidas e sugestões? Escreva para: &#116;&#101;&#099;&#110;&#111;&#108;&#111;&#103;&#105;&#097;&#064;&#099;&#105;&#099;&#108;&#111;&#099;&#105;&#100;&#097;&#100;&#101;&#046;&#111;&#114;&#103;&#046;&#098;&#114;
    </div>
</div>
</body>
</html>
